@use '../abstracts/variables';
@use '../abstracts/mixins';

.team-section {
    padding: 2rem;
    background-color: variables.$background-color; // Fondo claro para la sección

    &__title {
        text-align: center;
        color: variables.$primary-color; // Color principal para el título
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    &__members {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        flex-wrap: wrap;
    }

    &__card {
        background-color: #fff;
        border: 2px solid variables.$accent-color; 
        @include mixins.border-radius(15px); 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
        padding: 1.5rem;
        width: 280px;
        text-align: center;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
            transform: translateY(-5px); // hover
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

        &-image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 3px solid variables.$secondary-color;
            margin-bottom: 1rem;
        }

        &-title {
            font-size: 1.25rem;
            color: variables.$secondary-color; // Color secundario para el nombre del doctor
            margin-bottom: 0.5rem;
        }

        &-specialty {
            font-size: 1rem;
            color: variables.$text-color; // Color de texto principal
        }

        &-description {
            font-size: 0.9rem;
            color: variables.$text-muted-color; // Color de texto secundario
        }
    }
}


@media (max-width: 768px) {
    .team-section {
        padding: 1rem;

        &__card {
            width: 100%; 
            padding: 1rem;
        }

        &__title {
            font-size: 1.5rem; 
        }

        &__card-title {
            font-size: 1.25rem;
        }

        &__card-specialty, &__card-description {
            font-size: 0.85rem; 
        }
    }
}
